.coach-homepage-search {
  text-align: center;
  background-image: url("../../../public/photo/coach1.webp");
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 100%;
}

.greeting-coach {
  color: #0c0c0c;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.greeting h1 {
  font-size: 2.5em;
  font-weight: 600;
}

/* Search and Filter Section */
.search-section-coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Button Group for Three Primary Buttons */
.button-group-coach {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Button Styles */
.button-group-coach button {
  width: 200px;
  background-color: #9c5be7;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.search-filter-coach {
  width: 250px;
  background-color: #9c5be7;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.filters-container {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.search-filter-coach {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  cursor: pointer;
}

.hide-filter-button {
  padding: 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hide-filter-button:hover {
  background-color: #c9302c;
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
  .button-group-coach,
  .filter-search-group-coach {
    flex-direction: column;
    gap: 10px;
  }

  button {
    width: 100%;
    max-width: 320px;
  }
}
