


.features{
  width: 100%;
  background-color: #f8f9fa;
  padding: 60px 0;
  display: flex;
}

.feature-title{
  font-size: 30px;
  font-weight: bold;
  color: #531a85;
  padding: 10px;
  margin: 20px;
  text-align: center;
}

.feature{
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  background-color: #5c40d4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  

}



.feature h3 {
  margin-top: 10px;
  font-size: 1.5em;
}

.feature p {
  margin-top: 10px;
}
