.features-div {
  width: 100%;
  height: 600px;
  background-color: #f8f9fa;
}
.feature-title {
  font-size: 30px;
  font-weight: bold;
  color: #531a85;
  margin: 20px 0;

  text-align: center;
}

.features {
  background-image: url("../../../public/featuers-img/cleanbg.webp");
  background-size: cover;
  width: 100%;
  height: 550px;
  display: flex;
  position: relative;
}
.feature {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.feature h3 {
  font-size: 20px;
  font-weight: bold;
  color: #111012;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-family: bauhaus;
}
.about-img {
  width: 400px;
  height: 370px;
  object-fit: cover;
  position: absolute;
  top: 200px;
}
