.features-div {
  width: 100%;
  height: 600px;
}
.feature-title {
  width: 750px;
  height: 100px;
  padding: 20px 0;
  font-size: 40px;
  font-weight: bold;
  color: #2a1d36;
  font-family: bauhaus;
  text-align: center;
  position: absolute;
  top: 15px;
  left: -140px;
}

.features {
  background-image: url("../../../public/featuers-img/cleanbg.webp");
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
}
.features .feature {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.feature span {
  font-size: 20px;
  font-weight: bold;
  color: #111012;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-family: bauhaus;
}
.about-img {
  width: 150px;
  height: 370px;
  object-fit: cover;
  position: absolute;
  top: 220px;
}

.feature-text {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
