.hero-header {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-btn {
  background-color: #daeb3f;
  color: #141212;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  padding: 30px 40px;
  border: 2px solid #1c1d17;
  border-radius: 30px;
  cursor: pointer;
  font-family: bauhaus;
  transition: all 0.3s;
  position: absolute;
  left: 20%;
  top: 60%;
}

.hero-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-color: #070606;
  background-color: #9c5be7;
}

@media (max-width: 720px) {
  .hero-btn {
    font-size: 20px;
    padding: 15px 20px;
  }
}
