.hero-header{
  background-color: #531a85;
  width: 100%;
  height: calc(100vh - 200px);
  padding: 5px;
  border-top: 1px solid #b66ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-title{
  font-size: 30px;
  font-weight: bold;
  color: #daeb3f;
  padding: 10px;
  margin: 20px;
}
.hero-btn{
  background-color: #daeb3f;
  color: #141212;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #1c1d17;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.3s;
}

.hero-btn:hover{
  cursor: pointer;
  transform: scale(1.1);
  border-color: #070606;
  background-color: #9c5be7;
  
}

@media (max-width:720px){
  .hero-title{
    font-size: 20px;
    font-weight: bold;
    color: #daeb3f;
    margin: 20px;

  }
}